a.map:before {
  content: "\f0ac";
  font-family: FontAwesome;
  font-size: 32px;
  line-height: 20px;
}

a.sketch:before {
  content: "\f044";
  font-family: FontAwesome;
  font-size: 32px;
  line-height: 20px;
}

.tabbar-labels span.tabbar-label {
  line-height: normal !important;
}

.map-page .content-block {
  padding: 0 !important;
}

.leaflet-top {
  top: 70px !important;
  position: fixed !important;
}

/* Custom tools for map */
#toolbar {
  position: fixed;
  top: 200px;
  left: 10px;
}

#toolbar a {
  width: 30px;
  height: 40px;
  line-height: 30px;
  width: 40px;
  background-size: contain;
  background-size: 25px;
}

#toolbar a.active {
  background-color: #dcdcdc;
}

.leaflet-touch .leaflet-bar a,
.speed-dial-buttons a {
  width: 40px !important;
  height: 40px !important;
  line-height: 45px !important;
}

[data-tool-location] {
  background-image: url("../images/tools/map/toolLocation.svg");
  background-size: 17px !important;
}

[data-tool-distance] {
  background-image: url("../images/tools/map/toolRuler.svg");
}

[data-tool-markerball] {
  background-image: url("../images/tools/map/toolMarkerball.svg");
}

[data-tool-star] {
  background-image: url("../images/tools/map/toolStar.svg");
}

[data-tool-arrow] {
  background-image: url("../images/tools/map/toolArrow.svg");
}

[data-tool-double-arrow] {
  background-image: url("../images/tools/map/toolDoubleArrow.svg");
}

[data-tool-triangle] {
  background-image: url("../images/tools/map/toolTriangle.svg");
}

[data-tool-marker-bounds] {
  background-image: url("../images/tools/map/toolMarkerBounds.svg");
}

[data-tool-undo] {
  background-image: url("../images/tools/map/toolUndoRedo.svg");
}

[data-tool-delete] {
  background-image: url("../images/tools/map/toolDelete.svg");
}

/* Floating action buttons*/
[data-speeddial-upload] i {
  background-image: url("../images/tools/map/upload.svg");
  background-size: 25px;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

[data-speeddial-load-fusions] i {
  background-image: url("../images/tools/map/load-fusions.svg");
  background-size: 22px;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

[data-speeddial-reset] i {
  background-image: url("../images/tools/map/reset.svg");
  background-size: 22px;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

[data-page=sketch] .speed-dial {
  right: 40px !important;
  bottom: 220px !important;
}

/* Framework7 Overides*/
.speed-dial {
  right: 40px !important;
  bottom: 180px !important;
}

.speed-dial.map-layers {
  right: 40px !important;
  bottom: 100px !important;
}

.speed-dial a {
  overflow: visible !important;
}

.speed-dial-buttons div.wrap {
  position: absolute;
  left: -11em;
  text-align: right;
  width: 10em;
  font-size: 14px;
}

.speed-dial-buttons div.wrap > div {
  background-color: #333;
  padding: 8px;
  line-height: 20px;
  border-radius: 5px;
  display: inline;
}

/* Leaflet measure */
.leaflet-control-measure {
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
}

.leaflet-bar-part-top-and-bottom {
  border-radius: 4px 4px 4px 4px;
  border-bottom: none;
}

.leaflet-touch .leaflet-bar-part-top-and-bottom {
  border-radius: 7px 7px 7px 7px;
  border-bottom: none;
}

.leaflet-control-measure-on .leaflet-control-measure {
  box-shadow: 0 0 8px rgba(10,10,10,1.0);
}

.leaflet-measure-tooltip {
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
  background-color: rgba(38, 55, 75, 0.74);
  box-shadow: 0 0 5px #BBB;
  margin: 0;
  border-radius: 3px;
  padding: 5px;
  width: auto !important;
  height: auto !important;
  white-space: nowrap;
}

.leaflet-measure-tooltip-total {
  font-weight: bold;
  color: white;
}

.leaflet-measure-tooltip-difference {
  color: white;
  font-size: 10px;
}

/* Canvas page */
.canvas-container {
  margin: 0 auto;
}

.canvas-wrapper {
  margin: 0 auto;
  margin-top: -30px;
}

/* Custom tools for sketch */
#toolbar-sketch {
  position: fixed;
  top: 90px;
  left: 20px;
}

#toolbar-sketch a {
  width: 30px;
  height: 40px;
  line-height: 30px;
  width: 40px;
  background-size: contain;
  background-size: 25px;
}

#toolbar-sketch a.active {
  background-color: #dcdcdc;
}

.leaflet-touch .leaflet-bar a {
  width: 40px !important;
  height: 40px !important;
  line-height: 45px !important;
}

#toolbar-sketch [data-tool-north] {
  background-image: url("../images/tools/sketch/toolNorth.svg");
}

#toolbar-sketch [data-tool-distance] {
  background-image: url("../images/tools/sketch/toolDistance.svg");
  background-size: 44px;
}

#toolbar-sketch [data-tool-electric] {
  background-image: url("../images/tools/sketch/toolElectric.svg");
}

#toolbar-sketch [data-tool-telephone] {
  background-image: url("../images/tools/sketch/toolTelephone.svg");
}

#toolbar-sketch [data-tool-sewer] {
  background-image: url("../images/tools/sketch/toolSewer.svg");
}

#toolbar-sketch [data-tool-catch-basin] {
  background-image: url("../images/tools/sketch/toolCatchBasin.svg");
}

#toolbar-sketch [data-tool-text] {
  background-image: url("../images/tools/sketch/toolText.svg");
}

#toolbar-sketch [data-tool-draw]:before {
  content: "\f040";
  font-family: FontAwesome;
  font-size: 25px;
  line-height: 40px;
}

#toolbar-sketch [data-tool-fuse-joint] {
  background-image: url("../images/tools/sketch/toolFuseJoint.svg");
  background-size: 40px;
}

#toolbar-sketch [data-tool-star] {
  background-image: url("../images/tools/sketch/toolStar.svg");
}

#toolbar-sketch [data-tool-arrow] {
  background-image: url("../images/tools/sketch/toolArrow.svg");
}

#toolbar-sketch [data-tool-double-arrow] {
  background-image: url("../images/tools/sketch/toolDoubleArrow.svg");
}

#toolbar-sketch [data-tool-triangle] {
  background-image: url("../images/tools/sketch/toolTriangle.svg");
}

#toolbar-sketch [data-tool-delete] {
  background-image: url("../images/tools/sketch/toolDelete.svg");
}

.item-input .label-switch {
  top: 0 !important;
}

.popup p {
  font-size: 1.25em;
  margin: 0 0 0 1em;
}