.logo {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -14px;
}

.leaflet-control {
  position: fixed !important;
}

#toolbar {
  position: fixed;
  top: 170px;
  left: 10px;
}

/* Framework7 Overides*/
.tabbar-labels {
  height: 65px;
}
.tabbar a.tab-link {
  width: 100% !important;
}

.tabbar-labels a.tab-link {
  padding-top: 14px ;
}

/* Floating action button not supported in iOS theme */
.floating-button-toolbar,
.speed-dial {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 1500;
}
.floating-button-toolbar .floating-button,
.speed-dial .floating-button {
  right: 0;
  bottom: 0;
  position: relative;
}

.speed-dial .floating-button i {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg) scale(1);
  transform: translate3d(-50%, -50%, 0) rotate(0deg) scale(1);
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}

.speed-dial .floating-button i + i {
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(-90deg) scale(0.5);
  transform: translate3d(-50%, -50%, 0) rotate(-90deg) scale(0.5);
  opacity: 0;
}

.speed-dial.speed-dial-opened .floating-button i {
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(90deg) scale(0.5);
  transform: translate3d(-50%, -50%, 0) rotate(90deg) scale(0.5);
  opacity: 0;
}

.speed-dial.speed-dial-opened .floating-button i + i {
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg) scale(1);
  transform: translate3d(-50%, -50%, 0) rotate(0deg) scale(1);
  opacity: 1;
}

.speed-dial-buttons {
  position: absolute;
  width: 40px;
  left: 50%;
  margin-left: -20px;
  bottom: 100%;
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -moz-box-orient: vertical;
  -moz-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
  visibility: hidden;
  pointer-events: none;
}

.speed-dial-buttons a {
  width: 40px;
  height: 40px;
  opacity: 0;
  color: #fff;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-color: #2196f3;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-transform: translate3d(0, 8px, 0) scale(0.3);
  transform: translate3d(0, 8px, 0) scale(0.3);
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

html:not(.watch-active-state) .speed-dial-buttons a:active,
.speed-dial-buttons a.active-state {
  background: #0c82df;
}

.speed-dial-buttons a + a {
  margin-bottom: 16px;
}

.speed-dial-opened .speed-dial-buttons {
  visibility: visible;
  pointer-events: auto;
}

.speed-dial-opened .speed-dial-buttons a {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scaleY(1);
  transform: translate3d(0, 0, 0) scaleY(1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.speed-dial-opened .speed-dial-buttons a:nth-child(2) {
  -webkit-transition-delay: 50ms;
  transition-delay: 50ms;
}

.speed-dial-opened .speed-dial-buttons a:nth-child(3) {
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
}

.speed-dial-opened .speed-dial-buttons a:nth-child(4) {
  -webkit-transition-delay: 150ms;
  transition-delay: 150ms;
}

.speed-dial-opened .speed-dial-buttons a:nth-child(5) {
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms;
}

.speed-dial-opened .speed-dial-buttons a:nth-child(6) {
  -webkit-transition-delay: 250ms;
  transition-delay: 250ms;
}

i.icon.icon-plus {
  width: 24px;
  height: 24px;
  font-size: 0;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D'%23FFFFFF'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%20width%3D'24'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'M19%2013h-6v6h-2v-6H5v-2h6V5h2v6h6v2z'%2F%3E%3Cpath%20d%3D'M0%200h24v24H0z'%20fill%3D'none'%2F%3E%3C%2Fsvg%3E");
}

i.icon.icon-close {
  width: 24px;
  height: 24px;
  font-size: 0;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D'%23FFFFFF'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%20width%3D'24'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'M19%206.41L17.59%205%2012%2010.59%206.41%205%205%206.41%2010.59%2012%205%2017.59%206.41%2019%2012%2013.41%2017.59%2019%2019%2017.59%2013.41%2012z'%2F%3E%3Cpath%20d%3D'M0%200h24v24H0z'%20fill%3D'none'%2F%3E%3C%2Fsvg%3E");
}